# Logistic Regression (Titanic_pydatatset)



https://pydataset.readthedocs.io/en/latest/index.html 


Dataset is for educational purposes, mainly. It tries to help those approaching Data Science in Python for the first time, who must deal with common (and time consuming) data preparation tasks.

In [ ]:
# !pip install pydataset

In [1]:
# Import Statements
from pydataset import data
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt

In [2]:
#Get the data
titanic = data('titanic')
titanic.sample(5)

          class     age    sex survived
211   1st class  adults  women      yes
6     1st class  adults    man      yes
1082  3rd class  adults  women      yes
33    1st class  adults    man      yes
232   1st class  adults  women      yes

In [6]:
#Feature Engineering (One hot encoding)
titanic = pd.get_dummies(titanic, drop_first=True) #there is no class one
titanic.sample(15)

      class_2nd class  class_3rd class  age_child  sex_women  survived_yes
819                 0                1          0          0             0
1084                0                1          0          1             1
357                 1                0          0          0             0
948                 0                1          0          0             0
823                 0                1          0          0             0
466                 1                0          0          0             0
414                 1                0          0          0             0
1127                0                1          0          1             1
254                 0                0          0          1             1
223                 0                0          0          1             1
747                 0                1          0          0             0
388                 1                0          0          0             0
595                 1                0          1          0             1
921                 0                1          0          0             0
1058                0                1          0          0             0

In [7]:
#Train test split
X_train, X_test, y_train, y_test = train_test_split(titanic.drop('survived_yes', axis=1), titanic['survived_yes'])

In [8]:
#Train the model using the training data
solver='lbfgs'
LogReg = LogisticRegression(solver=solver)
LogReg.fit(X_train, y_train)

LogisticRegression()

In [9]:
#Predicting if a class-l child-age female survived
LogReg.predict(np.array([[0, 0, 1, 1]]))[0]

1

In [10]:
LogReg.score(X_test, y_test)

0.7629179331306991

In [11]:
#Understanfing the score
prediction = (LogReg.predict(X_test) > 0.5).astype(int)
np.sum(prediction == y_test) / len(y_test)

0.7629179331306991

In [ ]:
df_titan = pd.read_csv('titanic.csv', header=None)

In [ ]:
#Predicting if a class-l adult-age male survived
LogReg.predict(df_titan.values)

In [ ]:
#Scoring the model
LogReg.predict_proba(df_titan.values)

In [ ]:
accuracies = []
for max_iter in range(3, 10):
    LogReg = LogisticRegression(
        solver='newton-cg',
        max_iter=max_iter,
        random_state=42,
        tol=1e-100
    )
    
    LogReg.fit(X_train, y_train)
    accuracy = LogReg.score(X_test, y_test)
    accuracies.append(accuracy)

In [ ]:
plt.plot(accuracies)